*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: black;
    color: white;
    font-family: sans-serif;
}

.content{
    padding: 4rem;
}
section{
    border: 2px  solid whitesmoke;
    margin: 20px 0;
    padding: 20px;
}
section h1{
    margin: 10px 0;
}

.scroll-indicator{
    position: fixed;
    height: 5px;
    width: calc(100% - 6rem);
    top:10px;
    left: 3rem;
    border-radius: 3px;
}
.scroll-indicator .progress{

    height: 100%;
    width:0;
    border-radius: 3px;
    background: linear-gradient(30deg, #21d4fd,#b721ff);
    transition: width 0.1s;
}